.submit{
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
.closeRight{
  position:absolute;
  right:3%;
  font-size:30px;
}
.signup{
  text-align: center;
  font-size:15px;
  cursor:pointer;
}

.loginModal{
  font-family:'Open Sans', sans-serif;
}
