.like{
  width:30%;
  margin:auto;
  position:absolute;
  float:right;
}

.reply{
  position:absolute;
}

.postreader{
  font-family:'Open Sans', sans-serif;
}

.fullText{
  font-size:110%;
}

.postreader{
  min-height:50vh;
}

.date{
  font-size:100%;
}
