.mission{
  position:relative;
  height:450px;
  background-image:linear-gradient(to top,#E6E6E6,#F0F0F0,#FFF,#FFF);
  padding:2%;
}

p{
  font-family:'Open Sans', sans-serif;
}

.leftheader{
  font-size:270%;
  font-weight:500;
}

.rightheader{
  font-size:200%;
  font-weight:400;
  float:right;
}

.leftpara{
  font-size:110%;
}

.divider{
  color:#bfbfbf;
}

//Need proper mobile support
