.landing{
  position:relative;
  height:450px;
  background-image:linear-gradient(to bottom,#0069F6,#0056EB);
  background-size:cover;
  padding:3%;
  overflow:hidden;
}

.landing p{
  font-family:Avenir;
  color:#FFF;
}

.leftimageheader{
  font-size:190%;
  font-weight:500;
}

.leftimagepara{
  position:relative;
  font-size:120%;
  font-weight:400;
}

.discordwidget{
  position:relative;
  float:right;
}
