.landing{
  position:relative;
  height:450px;
  background-image:linear-gradient(to bottom,#0069F6,#0056EB);
  background-size:cover;
  padding:3%;
  overflow:hidden;
}

.landing p{
  font-family:'Open Sans', sans-serif;
  color:#FFF;
}

.leftimageheader{
  font-size:250%;
  font-weight:700;
}

.leftimagepara{
  position:relative;
  font-size:130%;
  font-weight:300;
}

.discordwidget{
  position:relative;
  float:right;
}
