.landing{
  position:relative;
  height:450px;
  background-image:url("https://i.imgur.com/fX5p74Z.jpg");
  background-size:cover;
  padding:7%;
}

.landing p{
  font-family:Avenir;
  color:#FFF;
}


